[package]
name = "daylio_tools"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "daylio_tools"
path = "src/lib.rs"

[[bin]]
name = "daylio_tools"
path = "src/main.rs"

[dependencies]
base64 = "0.21.0"
chrono = { version= "0.4.23", default-features = false, features = ["std"] }
color-eyre = { version = "0.6.2", default-features = false }
nanorand = "0.7.0"
nom = "7.1.3"
pdftotext = { git="https://github.com/Guekka/pdftotext.git", branch="layout" }
serde = "1.0.152"
serde_derive = "1.0.152"
serde_json = "1.0.91"
zip = "0.6.3"

[dev-dependencies]
pretty_assertions_sorted = "1.2.1"

[profile.dev.package.backtrace]
opt-level = 3
